* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Roboto', 'Helvetica';
}

h1 {
    font-family:'Comic Neue';
}

.container {
    position: relative;
    width: 200px;
  }
  
  .container input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #222;
    padding: 8px;
  }
  
  .container label {
    position: absolute;
    left: 0;
    top: 0;
    color: rgba(105, 105, 105, 0.7);
    text-transform: uppercase;
    pointer-events: none;
    transition: .5s;
    font-weight: bold;
  }
  
  .container input:valid ~ label,
  .container input:focus ~ label {
    color: rgb(10, 131, 212);
    transform: translateY(-15px);
    font-size: .6rem;
  }
  
  .container i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #222;
  }
  
  .container i:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ff1b69, #ff0, #2196f3, #9c27b0, #ff1b69);
    animation: animate 3s linear infinite;
  }

  button {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
   }
   
   button:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
   }
   
   button:main, button:focus {
    user-select: auto;
   }
   
   button:hover:not(:disabled) {
    filter: brightness(1.1);
   }
   
   button:disabled {
    cursor: auto;
   }
   
   button:active:after {
    border-width: 0 0 0px;
   }
   
   button:active {
    padding-bottom: 10px;
   }

.form {
    border-radius: 50px;
background: linear-gradient(315deg, #e6e6e6, #ffffff);
box-shadow:  -23px -23px 46px #c7c7c7,
             23px 23px 46px #ffffff;
}